body {
    font-family: "arial nova", Helvetica, sans-serif;


}

h1, h2, h3, h4, h5, h6 {
    font-family: "arial nova", Arial, Helvetica, sans-serif;
    color: #004141;
}

h1 {
    font-size: 5rem;

}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.3rem;
}

h4 {
    font-size: 1.8em;
}

h5 {
    font-size: 1.7em;
}

h6 {
    font-size: 1.6em;
}



.bold {
    font-weight: 900;
}

.slim {
    font-weight: 500;
}

.font-small {
    font-size: 5px;
}

.font-extra-small {
    font-size: 0.5px;
    line-height: 0.5px;
}



.font-size-40 {
    font-size: 4rem;
}

.font-size-3 {
    font-size: 2.3rem;
}

.font-size-4 {
    font-size: 2rem;
}

.font-size-5 {
    font-size: 1.8rem;
}

.font-size-6 {
    font-size: 1.7rem;
}


.font-size-7 {
    font-size: 1.0rem;
}

.font-size-8 {
    font-size: 0.8rem;
}


.flex-font-long {
    font-size: clamp(2.2rem, 6vw, 3rem);
}

.flex-font-extra-long {
    font-size: clamp(2rem, 5vw, 2.5rem);
}

.flex-font-medium {
    font-size: clamp(2.8rem, 5vw, 5.5rem);
}


.flex-font {
    font-size: clamp(3rem, 6vw, 6rem);
}

.flex-font-short {
    font-size: clamp(4rem, 6vw, 6rem);
}

.flex-font-extra-short {
    font-size: clamp(7rem, 10vw, 10rem);
}


p {
    color: #004141;
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 30px;
}



.p-system {
    margin-top: 10px;
}

.head-section {
    background-color: #004141;
    height: 100vh;
    width: 100%;
}

.colored-section {
    background-color: #004141;
    width: 100%;
}

.white-section {
    width: 100%;
}

.screen-high {
    height: 100vh;
}

.screen-high-40 {
    height: 40vh;
}


.row {
    width: 100%;
}






/* ---------------NAVBAR */


.navbar-brand {
    padding: 2px;
}



/* Ändere die Schriftgröße und Farbe für normale Links */
.navbar-nav .nav-link {
    font-size: 25px;
    /* Beispielgröße - ändere nach Bedarf */
    color: rgb(160, 220, 230);
    transition: color 0.3s, font-size 0.3s;
    /* Animation für sanften Übergang hinzufügen */
}

/* Ändere die Schriftgröße und Farbe beim Hovern über Links */
.navbar-nav .nav-link:hover {
    color: rgb(250, 100, 0);
    font-size: 25px;
    /* Beispielgröße - ändere nach Bedarf */
}




/* Ändere die Größe des Hamburger-Icons */
.navbar-toggler-icon {
    font-size: 40px;
    /* Beispielgröße - ändere nach Bedarf */
}


.button-marging {
    margin-top: 10px;
    margin-bottom: 10px;
}




.bg-alligator {
    background-color: #004141;
}

.bg-bright {
    background-color: #A0DCE6;
}





/* Standard-Stile für den Text */
.desktop-text h1,
.desktop-text p,
.desktop-text ul,
.desktop-text li {
    transition: all 1s ease;
    color: #004141;
}

/* Textstil bei Hover auf Desktop-Geräten ändern */
.desktop-text:hover h1,
.desktop-text:hover p {
    color: #004141;
}

.desktop-text:hover ul,
.desktop-text:hover li {
    color: #004141;
}


/* Andere CSS-Stile... */





.tech-layout {
    width: 100%;
}


.foto-team {
    height: 250px;
    border-radius: 20px;
    /* Hier kannst du den gewünschten Radius für die Ecken angeben */
}



/* --------------World emissions---------- */

#image-gallery {
    overflow: hidden;
  }
  
  #image-gallery img {
    width: 100%;
    display: block;
    transition: transform 0.5s ease;
  }













/* --------------Zeitstrahel---------- */


.container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.timeline-v2 {
    margin-bottom: 0;
    list-style: none;
    padding-left: 60px;
    padding-right: 0px;
    position: relative;

    .media {
        display: flex;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        -webkit-border-radius: 3px;
        border-radius: 20px;
        align-items: center;
        border: 1px solid rgb(0, 65, 65);
        /* Hinzugefügter Border */
    }

    .media-left {
        margin-right: 10px;
        /* Fügt einen Abstand zwischen dem Bild und dem Text hinzu */
    }

    .media-object {
        width: auto;
        height: 100%;
        /* Setzt die Höhe auf 100% des Elternelements (.media) */
        max-height: 200px;
        /* Begrenzt die maximale Höhe des Bildes */
        border-radius: 10px;
    }

    .media-body {
        flex: 1;
        /* Nimmt den verfügbaren Platz ein und ermöglicht, dass der Text den Raum ausfüllt */
    }




    /* titel start */
    .media-body[data-time]::after {
    content: attr(data-time);
    position: absolute;
    top: 0;
    right: -10px;
    padding: 5px 10px;
    font-size: 1.5em;
    color: rgb(160, 220, 230);
    background-color: rgb(0, 65, 65);

    -webkit-border-radius: 10px;
    border-radius: 10px;

    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    }

    .media-body[data-time] p:last-child {
    margin-bottom: 0;
    }



    > li.not-in-viewport > div::after {
        opacity: 0;
      }


    /* Jahr */
    >li {
            position: relative;

         &[data-date]::before {
            content: attr(data-date);
            position: absolute;
            top: 44px;
            right: 100%;
            margin-right: 20px;
            white-space: nowrap;
            
            font-size: 1.5em;
            font-family: "arial nova", Arial, Helvetica, sans-serif;
            color: rgb(0, 65, 65);
            }

            &[data-date] {

            /* kreis */
            >div .media::before {
                content: '';
                position: absolute;
                top: 47px;
                left: -25px;
                width: 12px;
                height: 12px;
                background-color: rgb(160, 220, 230);
                border: 2px solid rgb(250, 100, 0);
                z-index: 1;

                -webkit-border-radius: 50%;
                border-radius: 50%;

                -webkit-transition-property: top, left, width, height, border-color;
                transition-property: top, left, width, height, border-color;

                -webkit-transition-duration: 0.2s;
                transition-duration: 0.2s;
                }

                > div + div .media::before {
                border-color: #4caf50;
                }
        
                > div,
                > div + div {
                .media:hover::before {
                    content: '';
                    }
                }
            }
        

        /* linie */
        &:not(:last-child)>div:before,
        &:last-child>div:not(:last-child)::before {
            content: '';
            position: absolute;
            top: 53px;
            left: -20px;
            height: 100%;
            border: 1px solid rgb(250, 100, 0);
        }

        &:not(:last-child)>div:not(:last-child):before,
        &:last-child>div:not(:last-child)::before {
            border-style: dashed;
        }

        > div {
            margin-left: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            position: relative;
     
     
/* Pfeil */
&::after {
    content: '';
    position: absolute;
    top: 47px;
    left: -10px;
    border-style: solid;
    border-width: 6px 12px 6px 0;
    border-color: transparent rgb(0, 65, 65) transparent transparent;
    opacity: 0; /* Start with zero opacity (not visible) */
    transition: opacity 0.2s; /* Add a transition for smooth effect */
}

/* Zeige den Pfeil nur, wenn das li-Element sichtbar ist */
.in-viewport &::after {
    opacity: 1;
}
              
              

              
            

          }


          
        }
      }





@media (max-width: 1000px) {
    .timeline-v2>li[data-date="Heute"]::before {
        content: '';
        position: absolute;
        top: 0;
        left: -40px;
        width: 2px;
        height: 0;
        /* Setzen Sie die Höhe auf 0, um das vertikale Stück zu verbergen */
        border-left: 2px solid rgb(250, 100, 0);
        border-top: none;
    }

    .media {
        flex-direction: column;
        align-items: flex-start;
    }

    .media-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .media-object {
        position: relative;
        top: 20px;
        /* Ändern Sie diesen Wert für die mobile Positionierung des GIF-Bildes */
    }

    /* Position des PNG-Bildes anpassen */
    .overlay-image-2 {
        position: absolute;
        left: 192px!important;
        top: 42px!important;
        /* Ändern Sie diesen Wert, falls erforderlich */
        width: 10%;
        /* Passen Sie die Breite des PNG-Bildes auf mobile Geräte an */
        height: auto;
        /* Passen Sie die Höhe des PNG-Bildes auf mobile Geräte an */
    }

    /* Weitere spezifische Stile für Mobilgeräte */
    .timeline-v2>li>div:hover .media.hovered {
        content: '';
        /* ... (andere Stile für Hover-Zustand auf Mobilgeräten) ... */
    }



    .media-body:hover p {
        content: '';
        /* ... (andere Stile für Hover-Z
            ustand auf Mobilgeräten) ... */
    }
}


.overlay-image-2 {
    position: absolute;
    top: 21px;
    /* Passen Sie die Position nach Bedarf an */
    left: 11px;
    /* Passen Sie die Position nach Bedarf an */
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}



/*-----bild voerlay*/

.hide-on-hover {
    
    opacity: 1;
}

/*

.media:hover .hide-on-hover {
    opacity: 0;
}


.timeline-v2>li>div:hover .overlay-image-2 {
    opacity: 0;
}



.timeline-v2>li>div:hover .media.hovered {
    background-color: rgb(0, 65, 65);

}

.timeline-v2 > li > div:hover .media.hovered .media-body p {
    color: rgb(160, 220, 230);
}

.timeline-v2>li>div:hover .media-body[data-time]::after {
    background-color: rgb(160, 220, 230);
    color: rgb(0, 65, 65);
}


*/


.updated-color {
    color: rgb(0,65,65) !important;
}


  
  .timeline-v2>li.in-viewport>div .media::before {
    /* Ihre gewünschten Stile für sichtbare Elemente */
    border-color: rgb(250, 100, 0);
    background-color: rgb(0, 65, 65);
}

/* Entfernen oder Anpassen der Hover-Stile */
.timeline-v2>li.in-viewport>div .media:hover::before {
    border-color: rgb(250, 100, 0);
    background-color: rgb(0, 65, 65);
}

/* Entfernen oder Anpassen der Hover-Stile */
.timeline-v2 > li.in-viewport:not(.not-in-viewport) > div:hover::before {
    border-color: rgb(250, 100, 0);
    background-color: rgb(0, 65, 65);
}



/* Titel aktiv */
  .timeline-v2 > li.in-viewport:not(.not-in-viewport) > div .media-body[data-time]::after {
    /* Stile für sichtbare Elemente */
    color: rgb(0, 65, 65);
    background-color: rgb(160, 220, 230);
}


.timeline-v2 > li.timeline-item {
    font-weight: normal; /* Standardwert für nicht aktivierte Elemente */
    transition: font-weight 0.2s; /* Füge eine Transition für einen sanften Effekt hinzu */
}

.timeline-v2 > li.timeline-item.active {
    font-weight: bold; /* Stil für das aktivierte Element */
}
  

.timeline-v2 > li.today::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(250, 100, 0);  /* Ändern Sie die Farbe nach Bedarf */
}






.video-process-section {
    background-color: rgb(106, 156, 172);
    max-width: 100%;
    display: inline-block;
    /* Change this line */
}



.video-container {
    display: flex;
    align-items: center;
    /* Zentrieren vertikal */
    position: relative;
    width: 100%;
}





.content-container {
    /* Removed float: right; */
    width: 100%;
}

.video-process {
    max-width: 90%;
    max-height: 70vh;
    position: relative;
    z-index: 1;
    float: right;
}


.overlay-image {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    z-index: 2;
}




.desktop-text {
    display: block;
    position: absolute;
    top: 50%;
    /* Vertikale Ausrichtung auf 50% des übergeordneten Containers */
    left: 0;
    transform: translateY(-50%);
    /* Korrektur, um den Text genau in der Mitte zu zentrieren */
    z-index: 3;
    width: 75%;
    padding: 20px;
    box-sizing: border-box;
    /* Beachte auch die Box-Größe, um das Padding in die Berechnung einzubeziehen */
}




@media only screen and (max-width: 1400px) {
    .desktop-text {
        display: none;
    }
}

.desktop-text ul {
    padding-left: 20px;
    list-style-type: none;
    font-size: 1.1rem;
}

.desktop-text li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

.desktop-text li::before {
    content: '\2022';
    position: absolute;
    left: 0;
}

















.bg-navbar {
    background-color: #0a4d4d;
}


.bg-white {
    background-color: white;
}

.bg-transparent {
    background-color: transparent;
}

.font-bright {
    color: #A0DCE6;
}

.font-white {
    color: white;
}

.font-alligator {
    color: #004141;
}









.PlanarFeedtrough {
    position: relative;
    height: 100vh;
    background-image: url("Planleiterplattendurchführung.jpg");
    background-size: cover;
    text-align: center;
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    /* Setzt die Ebene des Hintergrunds */
}




.PlanarFeedtrough::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 55, 65, 0);
    transition: background-color 1s ease;
}

.PlanarFeedtrough.touch::before {
    background-color: rgba(0, 55, 65, 0.6);
}


@media only screen and (max-width: 768px) {
    .PlanarFeedtrough::before {
        background-color: rgba(0, 55, 65, 0);
    }

    .PlanarFeedtrough.touch::before {
        background-color: rgba(0, 55, 65, 0.6);
    }
}






.PlanarFeedtrough .hidden-text {
    display: none;
    position: absolute;
    z-index: 2;
}

.PlanarFeedtrough.touch .hidden-text {
    display: block;
    /* Weitere Stile für sichtbaren Text hier hinzufügen */
}







/* Weitere Kommentare und Stile hier, wenn nötig */
































.background-param {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    background-position: center;
}






































.road {
    height: 270px;
    background-image: url("road.png");
}

.subtile_box {
    text-align: left;
    padding-left: 30px;
}

.left-padding {
    padding-left: 30px;
}



.line-height-0_5 {
    line-height: 0.1rem;
}

.line-height-1 {
    line-height: 1rem;
}

.line-height-2 {
    line-height: 2rem;
}

.line-height-2_5 {
    line-height: 2.5rem;
}

.line-height-3 {
    line-height: 3rem;
}

.line-height-4 {
    line-height: 4rem;
}

.line-height-5 {
    line-height: 5rem;
}

.subtitle {
    font-size: 3rem;
    font-weight: 100;

}

.H2_E_road {
    position: absolute;
    height: 250px;
    width: 2000px;
}

.H2_E_truck {
    padding-top: 10px;
    padding-bottom: 30px;
    display: block;
    object-fit: cover;
    width: 100%;

}


.featcher_box {
    margin-top: 70px;
    padding-bottom: 50px;
    padding-left: 30px;
    text-align: left;
    align-items: center;
}



.featchers {
    list-style: none;
    padding-left: 0;
}

/*
.contact-plate{
    height: 90vh;
    background-image: url("contact_plate.jpg");
}
*/

.jack {
    height: 90vh;
    background-image: url("jack.jpg");
}


.truck-terminal {
    height: 90vh;
    background-image: url("truck_terminal.jpg");
}

.center-wedge {
    height: 90vh;
    background-image: url("center_wedge.jpg");
}

.base-plate-mirror {
    height: 90vh;
    background-image: url("base-plate-mirror.jpg");
}



.logistic {
    width: 99vw;
}

.font-100 {
    font-weight: 100;
}

.font-600 {
    font-weight: 600;
}


.grd360_subtitle {
    color: #A0DCE6;
    text-align: left;
    font-size: clamp(1.2rem, 4vw, 4rem);
    font-weight: 100;
}

.grd360 {
    color: #A0DCE6;
    text-align: left;
    font-size: clamp(6rem, 10vw, 10rem);
    line-height: 8rem;
}



.subtitle-semi {
    font-size: 3rem;
}

.top-space {
    margin-top: 6vh;
    margin-left: 30px;
}

.top-bottom-space {
    padding-top: 15px;
    padding-bottom: 15px;
}

.top-bottom-space-2 {
    padding-top: 30px;
    padding-bottom: 30px;
}


.top-padding-large {
    padding-top: 18vh;
}

.top-padding-medium {
    padding-top: 7vw;
}

.top-padding-medium-small {
    padding-top: 5vw;
}

.top-bottom-padding {
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.top-bottom-padding-small {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}


.top-poadding-small {
    padding-top: 16px;
}

.padding-right-small {
    padding-right: 16px;
}

.padding-left-small {
    padding-left: 10px;
}

.margin-right {
    margin-left: -100px;
}


.padding-right {
    padding-right: 5vw;
}

.top-padding {
    padding-top: 6vh;
}

.top-padding-70 {
    padding-top: 65vh;
}


.top-padding-small {
    padding-top: 2vh;
}

.top-bottom-margin {
    margin-top: 20px;
    padding-bottom: 40px;
}

.bottom-padding {
    padding-bottom: 6vh;
}

.bottom-padding-small {
    padding-bottom: 3vh;
}

.voltage-management {
    margin-top: 40px;
}

.posbilitys-list {
    list-style: none;
}

.text-center {
    text-align: center;
    padding-top: 10px;
    padding-bottom: auto;
}

.electric-featchers {
    width: 62vw;
    margin-right: 0;
    margin-left: auto;
    padding-top: 20vh;
}

.truck-and-bike {
    margin-left: auto;
    margin-right: auto;
}

.featcher_box {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}


.spring-plate {
    display: flex;
    justify-content: left;
    align-items: baseline;
    width: 100%;

}

.text-box-zuverlaessig {
    width: 100%;
    margin-left: 12px;
}

.truck {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.alligator-logo {
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-left: 80px;
    margin-right: 80px;
    width: 80%;
}

.truck-size {
    height: 350px;
}


.icon {
    display: block;
    margin-left: 0;
    margin-right: auto;
    height: 100px;
}

.text-horizontal-center {
    display: flex;
    justify-content: left;
    align-items: center;
}

.horizont-half {
    height: 50vh;
}

.explosion {
    width: 100%;
    height: 100%;
}

.margin-top {
    margin-top: 5vh;
}

.margin {
    margin: 50px;
}

.impressum {
    margin-bottom: 0;
    padding-bottom: 0;
    height: 100%;
    text-align: center;
}



.title-padding-top {
    padding-top: 7vw;
}


.title-padding-top-small {
    padding-top: 4vw;
}


.picture-discription {
    margin-bottom: 0;
    padding-bottom: 0;
    height: 100%;
    text-align: center;

}

.michael-schacher {
    padding-top: 50px;
    width: 100%;
}


.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

.news-foto {
    width: 100%;
    padding-bottom: 20px;

}